body:before, body:after {
    content: "";
    position: fixed;
    background: #900;
    left: 0;
    right: 0;
    height: 10px;
}

body:before {
    top: 0;   
}

body:after {
    bottom: 0;
}

html {
    border-left: 10px solid #900;
    border-right: 10px solid #900; 
    height: 100%;
}

#container {    
    margin: 20%;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
}

#text { 
    width: 0px; 
    height: 2em; 
    white-space: nowrap; 
    overflow: hidden;  
}